nav.navbar {
    background: lightskyblue;
}
a.my-brand {
    color: aliceblue;
    text-decoration: none;
    font-size: 34px;
}
a.nav-link {
    color: aliceblue;

}
div.main-box {
    border: 5px solid black;
}
hr {
    border-top: 3px solid black;
}
img.profile-pic {
    height: 200px;
    width: 300px;
    float: left;
    margin-right: 15px;
}

img.boston-pic {
    padding-top: 10px;
    padding-bottom: 15px;
}
.footer {
    background-color: gray;
}

div.background {
    background-image: url(../imgs/Ocean.jpg);
}
